<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block th:fragment="setContent(title, content, css)">

	<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:replace="${title}">
	<title>기본 타이틀</title>
</th:block>

<!-- 상단 css -->

<link rel="stylesheet" href="/css/headerstyle1.css">
<link rel="stylesheet" href="/css/headerstyle2.css">
<link rel="stylesheet" href="/css/headerstyle3.css">
<link rel="stylesheet" href="/css/headerstyle4.css">
<link rel="stylesheet" href="/css/headerstyle5.css">
<link rel="stylesheet" href="/css/headerstyle6.css">
<link rel="stylesheet" href="/css/font.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/loader.css">
<!-- 하단 css -->
<style>
#top_nav ul li a {
background:rgba(0,0,0,0) !important;
color:white !important;
}
</style>
<link rel="stylesheet" href="/css/footerstyle1.css">
<link rel="stylesheet" href="/css/footerstyle2.css">

<script defer src="/js/jquery-1.8.3.min.js"></script>
<script defer src="/js/jquery-ui.js"></script>
<script defer src="/js/jquery.menua68a.js"></script>
<script defer src="/js/commona68a.js"></script>
<script defer src="/js/wresta68a.js"></script>
<script defer src="/js/placeholders.min.js"></script>
<script defer src="/js/scripta68a.js"></script>
<script defer src="/js/loader.js"></script>

<th:block th:replace="${css}">
	</head>
	<body>
		<div>
			<!-- 100% 배경이미지 때문에 사용 -->
			<div id="sh_wrapper" style="min-width: 1150px"></div>

			<!-- 상단 시작 { -->
			<div id="sh_hd">
				<h1 id="hd_h1">샤이닝 - 레저/스포츠 홈페이지 샘플</h1>
				<div id="skip_to_container">
					<a href="#sh_container">본문 바로가기</a>
				</div>

				<!-- 팝업레이어 시작 { -->
				<div id="hd_pop">
					<h2>팝업레이어 알림</h2>

					<span class="sound_only">팝업레이어 알림이 없습니다.</span>
				</div>

				<!-- } 팝업레이어 끝 -->
				<div id="sh_hd_wrapper" style="height: 92px">

					<div id="top_nav_wrap">
						<!-- 메뉴 전체보기 버튼 -->
						<div id="allmn_btn_wrap">
							<div id="allmn_btn">
								<span></span>
							</div>
						</div>
						<!-- 로고 -->
						<div id="top_logo">
							<a href="index.html" th:href="@{/}"><img src="/assets/img/logo.png"
								alt="Go90 FOOTBALL CLUB" /></a>
						</div>

						<!-- 상단메뉴 -->
						<ul id="top_nav">
							<li class="list list01"><a>CLUB</a>
								<ul class="sub_ul1">
									<li><a href="" th:href="@{/club}">클럽 소개</a></li>
									<li><a href="/member">회원 소개</a></li>
									<li><a href="/map">오시는길</a></li>
								</ul></li>
							<li class="list list02"><a>SCHEDULE</a>
								<ul class="sub_ul2">
									<li><a href="/schedule/plan">클럽 일정</a></li>
									<li><a href="/vote">경기 참여 조사</a></li>
								</ul></li>
							<li class="list list03"><a>COMMUNITY</a>
								<ul class="sub_ul3">
									<li><a th:href="@{/board/{boardId}(boardId=4)}">자유게시판</a></li>
									<li><a th:href="@{/board/{boardId}(boardId=3)}">갤러리</a></li>
								</ul></li>
							<li class="list list04"><a
								>공지 & 문의</a>
								<ul class="sub_ul4">
									<li><a th:href="@{/board/{boardId}(boardId=1)}">공지사항</a></li>
									<li><a th:href="@{/board/{boardId}(boardId=2)}">문의게시판</a></li>
								</ul></li>
							<li class="list list05"><a>팀 관리</a>
								<ul class="sub_ul5">
									<li><a th:href="@{/myteam}">전술 관리</a></li>
								</ul></li>
						</ul>
						<div id="login_all">

							<a th:if="${session.loginMember} == null"
								th:href="@{/member/login}">LOGIN</a> <a
								th:if="${session.loginMember} != null"
								th:text="|${session.loginMember.name}님 즐거운 하루 되세요|"></a> <a
								th:if="${session.loginMember} != null"
								th:href="|@{/member/mypage/}${session.loginMember.memberId}|">MY
								PAGE</a> <a th:if="${session.loginMember} == null"
								th:href="@{/member/register}">JOIN US</a> <a
								th:if="${session.loginMember} != null"
								th:href="@{/member/logout}">로그아웃</a>
						</div>
					</div>
					<!-- 소분류 끝 -->

					<!-- 메뉴 전체보기 -->
					<div id="allmn_view_wrap">
						<div id="allmn_view">

							<ul class="listx1">
								<li><a href="/club">클럽 소개</a></li>
								<li><a href="/member">회원 소개</a></li>
								<li><a href="/map">오시는길</a></li>
							</ul>

							<ul class="listx2">
								<li><a href="/schedule/plan">클럽 일정</a></li>
								<li><a href="/vote">경기 참여 조사</a></li>
							</ul>

							<ul class="listx3">
								<li><a th:href="@{/board/{boardId}(boardId=4)}">자유게시판</a></li>
								<li><a th:href="@{/board/{boardId}(boardId=3)}">갤러리</a></li>
							</ul>

							<ul class="listx4">
								<li><a th:href="@{/board/{boardId}(boardId=1)}">공지사항</a></li>
								<li><a th:href="@{/board/{boardId}(boardId=2)}">문의게시판</a></li>
							</ul>

							<ul class="listx5">
								<li><a href="" th:href="@{/myteam}">전술 관리</a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>

			<!--  -->
			<div id="sh_container">
				<div id="sh_container_wrapper">
					<!-- 서브 비주얼영역 -->
					<div id="sub_main_banner"></div>
				</div>
			</div>


			<!-- 상단 끝 -->
			<th:block th:replace="${content}">
			</th:block>

		</div>





		<div id="sh_ft">
			<button id="ft_top">TOP</button>
			<div id="sh_ft_wrapper">
				<div id="ft_info">
					<!-- 하단메뉴 -->
					<div class="ft_left">
						<p class="ft_logo">Go90 FOOTBALL CLUB</p>
						서울특별시 노원구 상계로 64 화랑빌딩 7F <br /> 사업자 번호 : 123-45-6789(등록2023년)
						&nbsp; 대표 : 호날두<br /> 고객센터:1234-5678 팩스:0123-456-7890 &nbsp;
						이메일:naldo@gmail.com <br>

					</div>
					<div class="ft_right">
						<p class="ft_tel">
							가입 문의<br>
							<span>1234-5678</span>
						</p>
						<ul class="ft_sns">
							<li><a href="#"><img src="/img/twitter.png" alt="트위터"></a></li>
							<li><a href="#"><img src="/img/instagram.png" alt="인스타그램"></a></li>
							<li><a href="#"><img src="/img/facebook.png" alt="페이스북"></a></li>
						</ul>
					</div>

				</div>
				<div class="ft_border">
					<div id="ft_bot"></div>
				</div>
			</div>
		</div>

		<!-- TOP 버튼 -->
		<script>
			$(function() {
				$(window).scroll(function() {
					if ($(this).scrollTop() > 400) {
						$('#ft_top').fadeIn()
					} else {
						$('#ft_top').fadeOut()
					}
					;
				});
			});
			$('#ft_top').click(function() {
				$('html, body').animate({
					scrollTop : 0
				});
			});
		</script>





	</body>

</th:block>

</html>