<!DOCTYPE html>
<html lang="ko">

<body>
<div id="sh_container">
    <div id="sh_container_wrapper">
        <!-- 서브 비주얼영역 -->
      <div id="sub_main_banner">
        <div id="sh_content_tit">
         <h3>SHINING 레져</h3>
         <p><a href="/index.html">HOME</a> 
         &nbsp;&nbsp;&nbsp;<img src="img/ar.png" alt="화살표" style="margin-top:-3px"/>&nbsp;&nbsp;&nbsp;</i> SHINING 레져 &nbsp;&nbsp;&nbsp;<img src="img/ar.png" alt="화살표" style="margin-top:-3px"/>&nbsp;&nbsp;&nbsp;</i> SHINING레져 소개</p>
  </div>      
  </div>     
  </div>
  </div>
  <div id="sh_aside">
            <div id="sh_aside_wrapper">
                <ul id="sh_snb">
                    <li class='l_menu_ON' >
                        <a href="page6.html">SHINING레져 소개</a>
                    </li>
                    <li class='l_menu_OFF' >
        <a href="../bbs/board34fb.html?bo_table=table7">센터 갤러리</a>
    </li>
    <li class='l_menu_OFF' >
        <a href="../bbs/board9208.html?bo_table=table8">오시는길</a>
    </li>
</ul>
<!-- 소분류 끝 --></div>
</div>   
  
</body>
</html>