<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block
	th:replace="~{/layout/layoutv2 :: setContent(~{this :: title}, ~{this :: content},~{this :: css})}">

	<th:block th:fragment="title">
			<title>자유게시판</title>
	</th:block>

    <!-- 반응형 구조 만들기 -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">


	<th:block th:fragment="css">
    <link rel="stylesheet" href="/css/boardstyle.css">
    <style>
    	#sh_content1213{
    		margin: 50px 30px;
    	}
    </style>
    </th:block>

   
<th:block th:fragment="content">

<!-- 상단 메뉴 시작 -->
<div id="sh_container">
            <div id="sh_container_wrapper">
                <!-- 서브 비주얼영역 -->
                <div id="sub_main_banner">
                    <div id="sh_content_tit">
                        <h3>SCHEDULE</h3>
                        <p><a href="/index.html">HOME</a> 
         &nbsp;&nbsp;&nbsp;<img src="/img/ar.png" alt="화살표" style="margin-top:-3px"/>&nbsp;&nbsp;&nbsp; SCHEDULE &nbsp;&nbsp;&nbsp;<img src="img/ar.png" alt="화살표" style="margin-top:-3px"/>&nbsp;&nbsp;&nbsp; 클럽 일정</p>
                    </div>
                </div>
                <!-- 서브 비주얼영역 끝 -->

                <!-- 서브메뉴 -->
                <div id="sh_aside">
                    <div id="sh_aside_wrapper">
                        <ul id="sh_snb">
                            <li class='l_menu_ON'>
                                <a href="page6.html">SHINING레져 소개</a>
                            </li>
                            <li class='l_menu_OFF'>
                                <a href="../bbs/board34fb.html?bo_table=table7">센터 갤러리</a>
                            </li>
                            <li class='l_menu_OFF'>
                                <a href="../bbs/board9208.html?bo_table=table8">오시는길</a>
                            </li>
                        </ul>
                        <!-- 소분류 끝 -->
                    </div>
                </div>
                </div>
                </div>
                
<!-- 상단 메뉴 끝 -->


        <div id="sh_container_1150">
          <!-- 콘텐츠영역 -->
          <div id="sh_content1213">

            <div id="sh_bo_list">


              <div class="list_top">
                <fieldset id="sh_bo_sch">
                  <legend>게시물 검색</legend>
                  <form name="fsearch" method="get">
                    <input type="hidden" name="bo_table" value="table15">
                    <input type="hidden" name="sca" value="">
                    <input type="hidden" name="sop" value="and">
                    <label for="sfl" class="sound_only">검색대상</label>
                    <select name="sfl" id="sfl">
                      <option value="wr_subject">제목</option>
                      <option value="wr_content">내용</option>
                      <option value="wr_subject||wr_content">제목+내용</option>
                      <option value="wr_name,1">글쓴이</option>
                    </select>
                    <label for="stx" class="sound_only">검색어<strong class="sound_only"> 필수</strong></label>
                    <input type="text" name="stx" value="" required id="stx" class="sch_input" size="25" maxlength="20">
                    <input type="image" src="/img/sh_search.png" alt="검색" name="submit" value="submit" />
                  </form>
                </fieldset>
              </div>

              <form name="fboardlist" id="fboardlist" action="" onsubmit="return fboardlist_submit(this);"
                method="post">
                <input type="hidden" name="bo_table" value="table15">
                <input type="hidden" name="sfl" value="">
                <input type="hidden" name="stx" value="">
                <input type="hidden" name="spt" value="">
                <input type="hidden" name="sca" value="">
                <input type="hidden" name="sst" value="wr_num, wr_reply">
                <input type="hidden" name="sod" value="">
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="sw" value="">

                <div id="sh_list_tbl" class="sh_tbl_common">
                  <table cellpadding="0" cellspacing="0">
                    <caption class="sound_only">문의게시판 목록</caption>
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">등록일</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="">
                        <td class="num">
                          3 </td>

                        <td class="subject" style="padding-left:0px">
                          <div>

                            <a href="passwordefab.html?bo_table=table15&amp;wr_id=3">
                              <i class="fa fa-lock" aria-hidden="true"></i> [빠른상담]홍길동님의 상담신청 입니다. </a>
                          </div>
                        </td>
                        <td class="name sv_use"><span class="sv_guest">홍길동</span></td>
                        <td class="datetime">2018-09-11</td>
                      </tr>
                      <tr class="">
                        <td class="num">
                          2 </td>

                        <td class="subject" style="padding-left:0px">
                          <div>

                            <a href="board82c3.html?bo_table=table15&amp;wr_id=2">
                              예약 문의 합니다 </a>
                          </div>
                        </td>
                        <td class="name sv_use"><span class="sv_member">최고관리자</span></td>
                        <td class="datetime">2018-09-10</td>
                      </tr>
                      <tr class="">
                        <td class="num">
                          1 </td>

                        <td class="subject" style="padding-left:0px">
                          <div>

                            <a href="boardc87e.html?bo_table=table15&amp;wr_id=1">
                              레저 문의 드립니다 </a>
                          </div>
                        </td>
                        <td class="name sv_use"><span class="sv_member">최고관리자</span></td>
                        <td class="datetime">2018-09-10</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="btn_area">
                  <ul class="adm_btns">
                  </ul>
                </div>

              </form>

            </div>


          </div><!-- sh_content -->
        </div> <!-- sh_container_1150 -->



</th:block>

</th:block>

</html>