<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block
   th:replace="~{/layout/layoutv2 :: setContent(~{this :: title}, ~{this :: content},~{this :: css})}">

   <th:block th:fragment="title" th:each="boards : ${boards}">
      <title th:text="${boards.boardName}">갤러리</title>
   </th:block>

   <!-- 반응형 구조 만들기 -->
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">


   <th:block th:fragment="css">
      <link rel="stylesheet" href="/css/gallerystyle1.css">
      <style>
      #sh_content78 {
         margin: 50px 30px;
      }
      </style>
   </th:block>


   <th:block th:fragment="content">

      <!-- 상단 메뉴 시작 -->
      <div id="sh_container">
         <div id="sh_container_wrapper">
            <!-- 서브 비주얼영역 -->
            <div id="sub_main_banner">
               <div id="sh_content_tit">
                  <th:block th:each="boards : ${boards}">
                     <h3 th:text="${boards.boardName}">갤러리</h3>
                     <a href="/index.html" th:href="@{/}">HOME</a> &nbsp;&nbsp;&nbsp;<img
                        src="/img/ar.png" alt="화살표" style="margin-top: -3px" />&nbsp;&nbsp;&nbsp;
                     <a th:text="${boards.boardName}">갤러리</a>
                  </th:block>
                  <a></a>
               </div>
            </div>
            <!-- 서브 비주얼영역 끝 -->

            <!-- 서브메뉴 -->
            <div id="sh_aside">
               <div id="sh_aside_wrapper">
                  <!-- 
                        <ul id="sh_snb">
                            <li class='l_menu_ON'>
                                <a href="page6.html">SHINING레져 소개</a>
                            </li>
                            <li class='l_menu_OFF'>
                                <a href="../bbs/board34fb.html?bo_table=table7">센터 갤러리</a>
                            </li>
                            <li class='l_menu_OFF'>
                                <a href="../bbs/board9208.html?bo_table=table8">오시는길</a>
                            </li>
                        </ul> 
                       -->
               </div>
            </div>
         </div>
      </div>

      <!-- 상단 메뉴 끝 -->


      <div id="sh_container_1150">
         <!-- 콘텐츠영역 -->
         <div id="sh_content78">

            <!-- 게시판 목록 시작 [s] -->
            <div id="sh_bo_gall">

               <!-- 게시판 분류 [s] { -->
               <ul id="bo_cate_ul_line">
                  <li><a href="board8399.html?bo_table=table13" id="bo_cate_on">전체</a></li>
                  <li><a
                     href="board0b62.html?bo_table=table13&amp;sca=A%ED%83%80%EC%9E%85">A타입</a></li>
                  <li><a
                     href="board6836.html?bo_table=table13&amp;sca=B%ED%83%80%EC%9E%85">B타입</a></li>
                  <li><a
                     href="boardf36e.html?bo_table=table13&amp;sca=C%ED%83%80%EC%9E%85">C타입</a></li>
                  <li><a
                     href="board5fda.html?bo_table=table13&amp;sca=%EA%B8%B0%ED%83%80">기타</a></li>
               </ul>
               <!-- 게시판 분류 [e] -->

               <!-- rss / 검색 [s] -->
               <div class="list_top">
                  <fieldset id="sh_bo_sch">
                     <legend>게시물 검색</legend>
                     <form name="fsearch" method="get">
                        <input type="hidden" name="bo_table" value="table13"> <input
                           type="hidden" name="sca" value=""> <input type="hidden"
                           name="sop" value="and"> <label for="sfl"
                           class="sound_only">검색대상</label> <select name="sfl" id="sfl">
                           <option value="wr_subject">제목</option>
                           <option value="wr_content">내용</option>
                           <option value="wr_subject||wr_content">제목+내용</option>
                           <option value="mb_id,1">아이디</option>
                           <option value="wr_name,1">글쓴이</option>
                        </select> <label for="stx" class="sound_only">검색어<strong
                           class="sound_only"> 필수</strong></label> <input type="text" name="stx"
                           value="" required id="stx" class="sch_input" size="25"
                           maxlength="20"> <input type="image"
                           src="../img/sh_search.png" alt="검색" name="submit"
                           value="submit" />
                     </form>
                  </fieldset>
               </div>
               <!-- rss / 검색 [e] -->

               <form name="fboardlist" id="fboardlist"
                  action="http://lei1009.shiningcorp.com/bbs/board_list_update.php"
                  onsubmit="return fboardlist_submit(this);" method="post">
                  <input type="hidden" name="bo_table" value="table13"> <input
                     type="hidden" name="sfl" value=""> <input type="hidden"
                     name="stx" value=""> <input type="hidden" name="spt"
                     value=""> <input type="hidden" name="sst"
                     value="wr_num, wr_reply"> <input type="hidden" name="sod"
                     value=""> <input type="hidden" name="page" value="1">
                  <input type="hidden" name="sw" value="">


                  <ul id="sh_gall_ul" class="gall_row">
                     <li class="gall_li col-gn-4">
                        <div class="gall_chk">
                           <span class="sound_only"> 3 </span>
                        </div>
                        <div class="gall_img">
                           <a href="boardd469.html?bo_table=table13&amp;wr_id=25"> <img
                              src="/img/gallary1.jpg" alt="갤러리 A타입">
                           </a>
                        </div>
                        <div class="gall_txt">
                           <a
                              href="boardf36e.html?bo_table=table13&amp;sca=C%ED%83%80%EC%9E%85"
                              class="cate_link"><span>C타입</span></a> <a
                              href="boardd469.html?bo_table=table13&amp;wr_id=25"
                              class="tit"> 갤러리 A타입 </a>
                        </div>
                     </li>
                     <li class="gall_li col-gn-4">
                        <div class="gall_chk">
                           <span class="sound_only"> 2 </span>
                        </div>
                        <div class="gall_img">
                           <a href="board2aa2.html?bo_table=table13&amp;wr_id=24"> <img
                              src="/img/gallary1.jpg" alt="갤러리 A타입">
                           </a>
                        </div>
                        <div class="gall_txt">
                           <a
                              href="board6836.html?bo_table=table13&amp;sca=B%ED%83%80%EC%9E%85"
                              class="cate_link"><span>B타입</span></a> <a
                              href="board2aa2.html?bo_table=table13&amp;wr_id=24"
                              class="tit"> 갤러리 A타입 </a>
                        </div>
                     </li>
                     <li class="gall_li col-gn-4">
                        <div class="gall_chk">
                           <span class="sound_only"> 1 </span>
                        </div>
                        <div class="gall_img">
                           <a href="board25c1.html?bo_table=table13&amp;wr_id=23"> <img
                              src="/img/gallary1.jpg" alt="갤러리 A타입">
                           </a>
                        </div>
                        <div class="gall_txt">
                           <a
                              href="board0b62.html?bo_table=table13&amp;sca=A%ED%83%80%EC%9E%85"
                              class="cate_link"><span>A타입</span></a> <a
                              href="board25c1.html?bo_table=table13&amp;wr_id=23"
                              class="tit"> 갤러리 A타입 </a>
                        </div>
                     </li>
                  </ul>


                  <!-- 버튼 [s] -->
                  <div class="btn_area">
                     <!-- 관리자 버튼 [s] -->
                     <ul class="adm_btns">
                     </ul>
                     <!-- 관리자 버튼 [e] -->
                  </div>
                  <!-- 버튼 [e] -->
               </form>
            </div>
            <!-- 게시판 목록 [e] -->


         </div>
         <!-- sh_content -->
      </div>
      <!-- sh_container_1150 -->



   </th:block>

</th:block>

</html>