<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<script defer src="/assets/js/canvas.js"></script>
<title>팀 전술</title>
</head>
<body>
	<!-- ==================상단 영역========================= -->
	<header class="info-panel">
		<a th:href="@{/}"><img class="logo" src="/assets/img/logo.png" alt=""></a> <span
			class="info-text">EZEN FC 전술판</span>
			 <span class="info-text" th:text="${vote.matchDate} + ' 경기'">2023년 1월 1일 xx 경기</span>
			 <span class="info-text-quarter"></span> 
	</header>

	<!-- ==================컨텐츠 영역========================= -->
	<section class="field">
		<div class="container">
			<canvas id="soccerField" width="1300" height="780"></canvas>

			<aside class="side-pannel">
				<div class="side-container">
					<div class="side-title-container">
						<p class="side-title">경기 참여 예상명단</p>
						<select class="quarter">
							<option selected value="0">⚽ &nbsp;쿼터&nbsp;
								⚽</option>
							<option value="1">⚽ 1쿼터 ⚽</option>
							<option value="2">⚽ 2쿼터 ⚽</option>
							<option value="3">⚽ 3쿼터 ⚽</option>
							<option value="4">⚽ 4쿼터 ⚽</option>
						</select>
						<input type="button" class="saveBtn button" name="save" value="저장">
					</div>
					<hr />

					<div class="slider-container">

						<!-- each태그 시작 -->
						<th:block th:each="spareMember , iterStat: ${spareMember}">
							<input type="hidden" th:value="${spareMember.voteId}"
								class="vote-value" />
							<div class="container2" draggable="true"
								th:id="'card' + ${iterStat.count}">
								<!------------------------------ First card container --------------------------------------->
								<div class="card-container">
									<div class="top-box">
										<div class="top-box-text">
											<span class="backNumber" th:text="${spareMember.backNumber}">No.10</span>
											<span class="position" th:text="${spareMember.position}">FW</span>
										</div>
									</div>
									<!-------------------------- End of top Box(Menu) ---------------------------------->
									<div class="image-box">
 										<img class="thumbnail" src="/assets/img/no1.png"
										 th:src="@{'/member/profile/' +${spareMember.memberImg}}" alt="user-profile"> 
<!-- 											th:src="${spareMember.memberImg}" alt="user-profile"> -->
									</div>
									<!-------------------------- End of Image Box ---------------------------------->
									<div class="main-box">
										<div class="user-info">
											<span class="name" th:text="${spareMember.name}">김기정</span>
										</div>
										<!-------------------------- End of user information ---------------------------------->
										<div class="btn-box">
											<button class="put-btn">배치</button>
										</div>
										<!---------------------------- End of button box ------------------------------>
									</div>
									<!---------------------------- Animated circles ------------------------------>
									<img class="circle-2" src="/assets/img/ball.jpg" alt="" />
								</div>
								<!---------------------------- End of Animated circles ------------------------------>
							</div>
						</th:block>
						<!---------------------------- each태그 끝 ------------------------------>
					</div>
				</div>
		</div>
		</div>
		</aside>
		</div>
	</section>
	<!-- ===================하단영역======================= -->

	<footer>
		<div class="bottomArea">
			<div class="save_load_btns">
		<!-- 		<input type="text" class="formation-text"
					placeholder="저장하실 포메이션 이름을 입력하세요.">
				<input type="button" class="saveBtn button" name="save" value="저장"> -->
			</div>
			<div class="memo">
				<span class="button">메모</span>
			</div>

			<div class="save-load">
				<select class="selected-formation">
					<option selected value="basic">포메이션 변경 ⚽</option>
					<option value="442">4-4-2</option>
					<option value="433">4-3-3</option>
					<option value="4231">4-2-3-1</option>
				</select>
			</div>

			<div class="tools-container">
				<div class="tools">
					<div class="sources">

						<!-- 색상선택 -->
						<div onclick="change_color(this)" class="color-field"
							style="background: red;"></div>
						<div onclick="change_color(this)" class="color-field"
							style="background: blue;"></div>
						<div onclick="change_color(this)" class="color-field"
							style="background: green;"></div>
						<div onclick="change_color(this)" class="color-field"
							style="background: yellow;"></div>
						<!-- 컬러피커  -->
						<input onInput="draw_color= this.value" type="color"
							class="color-picker">
						<!-- 펜굵기 조절 -->
						<input type="range" min="1" max="100" class="pen-range"
							onInput="draw_width=this.value">
					</div>
					<!-- 되돌리기, 지우기, 저장 버튼  -->
					<button onclick="undoMemo()" type="button" class="button undo-btn">되돌리기</button>
					<button onclick="clearAllMemo()" type="button" class="button">지우기</button>

				</div>
			</div>

		</div>
	</footer>
</body>
</html>