<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block th:replace="~{/layout/layoutv2 :: setContent(~{this :: title}, ~{this :: content},~{this :: css})}">

    <th:block th:fragment="title">
			<title>클럽 소개</title>
	</th:block>


	<th:block th:fragment="css">
    <!-- --------------------------부트스트랩 CSS 파일-------------------------- -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- --------------------------부트스트랩 CSS 파일 끝-------------------------- -->

    
    </th:block>

<th:block th:fragment="content">

<!-- 상단 메뉴 시작 -->
<div id="sh_container">
            <div id="sh_container_wrapper">
                <!-- 서브 비주얼영역 -->
                <div id="sub_main_banner">
                    <div id="sh_content_tit">
                        <h3>SCHEDULE</h3>
                        <p><a href="/index.html">HOME</a> 
         &nbsp;&nbsp;&nbsp;<img src="/img/ar.png" alt="화살표" style="margin-top:-3px"/>&nbsp;&nbsp;&nbsp; SCHEDULE &nbsp;&nbsp;&nbsp;<img src="/img/ar.png" alt="화살표" style="margin-top:-3px"/>&nbsp;&nbsp;&nbsp; 클럽 일정</p>
                    </div>
                </div>
                <!-- 서브 비주얼영역 끝 -->

                <!-- 서브메뉴 -->
                <div id="sh_aside">
                    <div id="sh_aside_wrapper">
                        <ul id="sh_snb">
                            <li class='l_menu_ON'>
                                <a href="page6.html">SHINING레져 소개</a>
                            </li>
                            <li class='l_menu_OFF'>
                                <a href="../bbs/board34fb.html?bo_table=table7">센터 갤러리</a>
                            </li>
                            <li class='l_menu_OFF'>
                                <a href="../bbs/board9208.html?bo_table=table8">오시는길</a>
                            </li>
                        </ul>
                        <!-- 소분류 끝 -->
                    </div>
                </div>
                </div>
                </div>
                
<!-- 상단 메뉴 끝 -->
                <div id="sh_container_1150">

                    <!----------------------------팀 소개-------------------------- -->
                    <div id="sh_contentrrr">

                        <div id="p6" class="pagecommon">
                            <div class="tit_area">
                                <div class="top">
                                    <img src="/img/teamintro2.jpg" />
                                    <div class="box">
                                        <p class="b_tit"><span>TEAM INTRODUCTION</span></p>
                                        <p class="tit"><b>Team Go90</b></p>
                                        <p class="br tit_txt">즐거운 액티비티의
                                            세계로 여러분을
                                            초대합니다.</p>
                                    </div>

                                </div>
                                <div class="br txt"><strong>환영합니다! Team Go90입니다.</strong>
                                    Go90은 축구경기를 통한 친목도모 및 체력증진을 목표로 하고 있습니다.
                                    축구를 좋아하고 사랑하는… 무엇보다 함께 즐거운 스포츠를 즐기기 위한 회원들의 뜻을 모아 2021년 8월, 축구동호회 Go90을
                                    창단하였습니다.<br />
                                    즐거움과 힐링이 함께하는 Team Go90
                                    탄탄한 실력과 팀워크 그리고 멋진 매너가 있는 Team Go90에 참여하세요!</div>
                            </div>
                            <div class="program_area">
                                <div class="tit_all">
                                    <p class="b_tit">TEAM HISTORY</p>
                                    <p class="tit">FOOTBALL CLUB <b>Go90</b></p>
                                </div>
                                <div class="txt_a ea">
                                    <div class="col">
                                        <img src="/img/teamintro.jpg" style="width:1150px;"/>
                                        <dl>
                                            <dt><i class="far fa-calendar-alt"></i> 2022</dt>
                                            <dd>
                                                <ul>
                                                    <li><i class="fas fa-trophy"></i> 제 OO회 서울시장기 직원 축구대회 우승</li>
                                                    <li><i class="fas fa-trophy"></i> 선데이 전국직장인리그 축구대회 3위</li>
                                                    <li><i class="fas fa-trophy"></i> 제 O회 노원 친선축구대회 준우승</li>
                                                </ul>
                                            </dd>
                                            <br />
                                            <dt><i class="far fa-calendar-alt"></i> 2021. 8</dt>
                                            <dd class="br"><i class="fas fa-futbol"></i> 축구 동호회 Go90 창단</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!----------------------------팀 경기기록---------------------------->
                            <div class="program_area">
                                <div class="tit_all">
                                    <p class="b_tit">TEAM REPORTS</p>
                                    <p class="tit">팀 <b>경기기록</b></p>
                                </div>
                            
                                <div class="container">
                                    <table class="table table-hover">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>번호</th>
                                                <th>경기날짜</th>
                                                <th>상대팀 명</th>
                                                <th>경기결과</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="match, matchState : ${match}">
                                                <td th:text="${matchState.count}">1</td>
                                                <td th:text="${match.matchDate}">2023-09-03</td>
                                                <td th:text="${match.opponent}">상대팀 A</td>
                                                <td th:text="${match.result}">승</td>
                                            </tr>
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- sh_content -->
                </div> <!-- sh_container_1150 -->

        <!-- --------------------------팀 소개 끝-------------------------- -->
               

    <!-- --------------------------부트스트랩 JavaScript 및 jQuery 파일-------------------------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</th:block>

</th:block>

</html>