@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:500&amp;display=swap');

/* 공통 */
button{border:none}
input[type=text], input[type=password]{box-shadow:none;transition:none;font-family:'notokr-regular'}
input[type=text]:focus,input[type=text]:active, input[type=password]:focus, textarea:focus, select:focus, select:active{box-shadow:none;border:inherit!important;outline:none}
input[type=submit]:focus{outline:none}
input[type=submit]{border:none}
button:focus,button:active{outline:none}
.required, textarea.required{background-image:url(../../member/sh_basic/require.png)!important}

/* 관리자 버튼 */
.sh_adm_btn{width:85px;height:38px;border-radius:2px;border:1px solid #ffd8e1;font-size:13.5px;line-height:36px;color:#ff567f;letter-spacing:-.7px;background-color:#fff7f9;-webkit-transition:all .2s;transition:all .2s;font-family:'notokr-medium'}
a.sh_adm_btn{display:block;text-align:center}
.sh_adm_btn:hover{border-color:#fdb6c6}

/* 버튼 공통 */
.btn_type01{display:inline-block;width:180px;height:55px;margin:0 auto;border-radius:2px;font-size:15px;color:#fff;text-align:center;line-height:55px;background-color:#0054a6;-webkit-transition:all .2s;transition:all .2s;font-family:'notokr-medium'}
.btn_type01:hover{background-color:#0064c5}
a.cancel_btn{display:inline-block;vertical-align:top;width:75px;height:55px;border:none;border-radius:2px;font-size:15px;text-align:center;color:#fff;line-height:55px;background-color:#bbb;font-family:'notokr-medium'}
a.btn_normal{display:inline-block;vertical-align:top;width:75px;height:55px;border:none;border-radius:2px;font-size:15px;text-align:center;color:#fff;line-height:55px;background-color:#bbb;font-family:'notokr-medium'}
a.btn_line{display:inline-block;vertical-align:top;width:75px;height:55px;border:none;border-radius:2px;border:1px solid #d1d1d1;font-size:15px;text-align:center;color:#777;line-height:53px;font-family:'notokr-medium'}

/* 페이지 */
.pg_wrap{margin:40px 0 0;text-align:center;font-family:'notokr-regular'}
.pg_wrap a{display:inline-block;vertical-align:middle}
.pg_page{min-width:30px;height:30px;padding:0 5px;border:none;border-radius:0;font-size:14px;line-height:30px;color:#999;background:none}
.pg_page:hover{background:none}
.pg_current{display:inline-block;vertical-align:middle;min-width:30px;height:30px;padding:0 5px;border:none;border-radius:0;font-size:14px;font-weight:normal;line-height:29px;color:#222;background:none;box-shadow:none;font-family:'notokr-medium'}
.pg_start, .pg_end{width:30px;height:30px;border-radius:2px;border:1px solid #e1e1e1;font-size:0;text-indent:0}
.pg_start{margin-right:10px}
.pg_end{margin-left:10px}
.pg_start:before, .pg_end:before{content:"\f104 \f104";padding:0;font-size:12px;text-align:center;color:#aaa;line-height:28px;letter-spacing:.5px;font-family:fontawesome}
.pg_end:before{padding-left:3px;content:"\f105 \f105"}
.pg_start:hover, .pg_end:hover{background-color:#f6f6f6}

/* 테이블 공통 */
.sh_tbl_common{width:100%;border-top:1px solid #555}
.sh_tbl_common table{width:100%}
.sh_tbl_common th{border-bottom:1px solid #e1e1e1;font-size:15px;font-weight:normal;color:#222;font-family:'notokr-medium'} 
.sh_tbl_common td{border-bottom:1px solid #e1e1e1;font-size:14px;color:#777}

/* -------- 리스트 시작 [s] */
#sh_faq{font-size:15px;letter-spacing:-.3px;line-height:1.8;color:#666;font-family:'notokr-regular'}

/* 게시판 분류 type1 */
#bo_cate_ul_box{margin-bottom:30px;padding-left:1px}
#bo_cate_ul_box:after{display:block;content:"";visibility:hidden;clear:both}
#bo_cate_ul_box li{float:left;min-width:20%;text-align:center}
#bo_cate_ul_box li a{display:block;height:47px;margin:-1px 0 0 -1px;padding:0 15px;border:1px solid #e1e1e1;font-size:15px;line-height:47px;color:#999;background-color:#f6f6f6}
#bo_cate_ul_box li a:hover{background-color:#fbfbfb}
#bo_cate_ul_box #bo_cate_on{border-top:2px solid #222;color:#222;line-height:45px;background-color:#fff;font-family:'notokr-medium'}

/* 게시판 분류 type2 */
#bo_cate_ul_line{margin-bottom:25px;text-align:center}
#bo_cate_ul_line:after{display:block;content:"";visibility:hidden;clear:both}
#bo_cate_ul_line li{display:inline-block;vertical-align:top;margin:0 15px}
#bo_cate_ul_line li a{display:block;padding:2px 3px;font-size:17px;color:#999}
#bo_cate_ul_line #bo_cate_on{border-bottom:2px solid #222;color:#222;font-family:'notokr-medium'}

/* rss */
#sh_faq .list_top{position:relative;margin-bottom:12px}
#sh_faq .list_top:after{display:block;content:"";visibility:hidden;clear:both}
#sh_faq .list_top a{display:block;position:absolute;left:0;bottom:0;width:50px;height:24px;margin-top:18px;border-radius:2px;border:1px solid #e1e1e1;font-size:12px;text-align:center;line-height:21px;color:#aaa;background-color:#f6f6f6}
#sh_faq .list_top a i{padding-right:5px}

/* 검색 */
#sh_bo_sch{float:right;padding-right:10px;border-radius:2px;border:1px solid #e1e1e1}
#sh_bo_sch select{width:90px;height:40px;padding:0 0 0 10px;border:none;font-size:14px;color:#777;-webkit-appearance:none;appearance:none;background:url(img/select_arr.png) 95% center no-repeat ;font-family:'notokr-regular'}
#sh_bo_sch select::-ms-expand {display:none}
#sh_bo_sch input[type=text]{width:150px;height:40px;padding-left:5px;border:none;font-size:14px;color:#777}

/* 리스트 */
#sh_faq .faq_wrap{border-bottom:1px solid #e1e1e1}
#sh_faq .cont_faq{overflow:hidden;border-top:1px solid #e1e1e1}
#sh_faq .cont_q{display:block;position:relative;width:100%;padding:0 55px;background:none;border:none;text-align:left}
#sh_faq .cont_q:after{display:block;content:"\f107";position:absolute;right:20px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:20px;color:#222;font-family:'fontawesome'}
#sh_faq .cont_q.open:after{content:"\f106";color:#aaa}
#sh_faq .cont_q .num{display:block;position:absolute;left:20px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:18px;font-weight:500;color:#0054a6;font-family:'Poppins'}
#sh_faq .cont_q p{display:inline-block;padding:16px 0;color:#222;font-family:'notokr-medium'}
#sh_faq .cont_a{display:none;padding:30px 55px;background-color:#f5f6f8}
#sh_faq .cont_faq:first-child .cont_a{display:block}
#sh_faq .cont_a .ps{margin-bottom:10px;color:#ff567f}
#sh_faq .cont_a img{max-width:100%}
#sh_faq .empty_table{border-top:1px solid #e1e1e1}

/* 리스트 버튼 */
#sh_faq .btn_area{position:relative;margin:20px 0}
#sh_faq .btn_area:after{display:block;content:"";visibility:hidden;clear:both}
#sh_faq .adm_btns{position:absolute;top:0;left:0}
#sh_faq .adm_btns li{display:inline-block;vertical-align:top;margin-right:2px}
#sh_faq .w_btn{float:right}
#sh_faq .w_btn:hover{background-color:#0064c5}
/* -------- 리스트 끝 [e] */

/* -------- 글쓰기 시작 [s] */
#sh_bo_w{font-size:15px;letter-spacing:-.3px;line-height:1.8;color:#666;font-family:'notokr-regular'}

/* 라이트 */
#sh_write_tbl label{font-size:15px}
#sh_write_tbl th{width:16%;padding:10px 0;line-height:1.6;background-color:#f5f6f8}
#sh_write_tbl td{padding:10px 0 10px 10px}
#sh_write_tbl .cate_wrap{display:inline-block;min-width:181px;padding-left:10px;border-radius:2px;border:1px solid #e1e1e1}
#sh_write_tbl .sh_select{min-width:160px;height:40px;border:none;font-size:15px;color:#777;background-color:transparent;font-family:'notokr-regular'}
#sh_write_tbl .sh_select:focus, #sh_write_tbl .sh_select:active{border:none!important}
#sh_write_tbl .sh_input{height:40px;padding:0 20px 0 12px;border:1px solid #e1e1e1;border-radius:2px;font-size:15px;color:#777;font-family:'notokr-regular'}
#sh_write_tbl .sh_input:focus, #sh_write_tbl .sh_input:active{border:1px solid #e1e1e1!important;outline:none}
#sh_write_tbl .txtarea{width:100%;height:100px;padding:12px}
#sh_write_tbl .ps{font-size:14px;color:#0b6ed0}
#sh_write_tbl span.ps{padding-left:10px}

/* 라이트 버튼 */
#sh_bo_w .btn_area{position:relative;margin:20px 0;text-align:center}
/* -------- 글쓰기 끝 [e] */