@charset "utf-8";

#sub_main_banner{position:absolute;top:-85px;left:0;width:100%;height:340px;background:url('/img/sub_main_banner.jpg') center center no-repeat;font-family:'notokr-regular'}
#sh_content_tit{padding-top:160px;color:#fff;text-align:center}
#sh_content_tit h3{padding-bottom:10px;font-weight:normal;font-size:34px;font-family:'notokr-medium'}
#sh_content_tit p,#sh_content_tit a{font-size:14px;color:#fff}