<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block
   th:replace="~{/layout/layoutv2 :: setContent(~{this :: title}, ~{this :: content},~{this :: css})}">

   <th:block th:fragment="title">
      <title>글쓰기</title>
   </th:block>

   <!-- 반응형 구조 만들기 -->
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">


   <th:block th:fragment="css">
      <link rel="stylesheet" href="/css/writestyle1.css">
      <link rel="stylesheet" href="/css/writestyle2.css">
      <link rel="stylesheet" href="/css/writestyle3.css">
      <style>
		#sh_content67 {
		   margin: 50px 30px;
		}
	  </style>
   </th:block>


   <th:block th:fragment="content">

      <!-- 상단 메뉴 시작 -->
      <div id="sh_container">
         <div id="sh_container_wrapper">
            <!-- 서브 비주얼영역 -->
            <div id="sub_main_banner">
               <div id="sh_content_tit">
                  <h3>글 작성</h3>
                  <a href="/index.html" th:href="@{/}">HOME</a> &nbsp;&nbsp;&nbsp;
                  <img src="/img/ar.png" alt="화살표" style="margin-top: -3px" />&nbsp;&nbsp;&nbsp;
                  글 작성
               </div>
            </div>
            <!-- 서브 비주얼영역 끝 -->

            <!-- 서브메뉴 -->
            <div id="sh_aside">
               <div id="sh_aside_wrapper">
               </div>
            </div>
         </div>
      </div>

      <!-- 상단 메뉴 끝 -->


      <div id="sh_container_1150">
         <div id="sh_content67">
            <section id="sh_bo_w">
               <form name="fwrite" id="fwrite" autocomplete="off"
                  th:action="@{/board/write}" th:object="${articleDTO}"
                  method="post" enctype="multipart/form-data">
                  <div id="sh_write_tbl" class="sh_tbl_common">
                     <table>
                        <tbody>
                           <tr>
                              <th><label for="wr_name">작성자ID</label></th>
                              <td><input type="text" name="wr_name" value=""
                                 id="wr_name" class="sh_input" th:value="${session.loginMember.memberId}" readonly>
                                 <!-- 남김 --> 
                                 <input type="hidden" th:value="${param.boardId}"name="boardId" /> 
                                 <input type="hidden" th:value="${session.loginMember.memberId}"name="memberId" /> 
                                 
                                 </td>

                           </tr>

                           <tr>
                              <th><label for="wr_title">제목</label></th>
                              <td><input type="text" name="wr_title" value=""
                                 id="wr_title" class="sh_input" style="width: 100%;"
                                 th:field="*{articleTitle}"></td>
                           </tr>

                           <tr th:if="${articleDTO.boardId != 3}">
                              <th><label for="wr_content">내용</label></th>
                              <td class="wr_content"><textarea id="wr_content"
                                    name="wr_content" class="smarteditor2" maxlength="65536"
                                    style="width: 100%; height: 300px"
                                    th:field="*{articleContent}"></textarea></td>
                           </tr>
                           <tr>
                              <th>파일</th>
                              <td><label for="sh_file1" class="sound_only">파일</label> 
                              <input type="file" name="images"
                                 title="파일첨부 : 용량 1,048,576 바이트 이하만 업로드 가능"
                                 class="frm_file sh_input" id="sh_file1" multiple></td>
                           </tr>
                           
                        </tbody>
                     </table>
                  </div>
                  <div class="btn_area">
                     <input type="submit" value="작성완료" id="btn_submit" accesskey="s" class="btn_type01 comp_btn"> 
                     <a href="javascript:history.back();" class="cancel_btn">취소</a>
                  </div>
               </form>
            </section>
         </div>
         <!-- sh_content -->
      </div>
      <!-- sh_container_1150 -->




   </th:block>

</th:block>

</html>