<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper   namespace="com.ezen.go90.domain.member.mapper.MemberMapper">


 <insert id="create" parameterType="Member">
   INSERT INTO member(member_id, passwd, name, email , member_img, birth, rank)
   VALUES(
      #{memberId}, 
      #{passwd}, 
      #{name}, 
      #{email}, 
     <if test="memberImg != null">
               #{memberImg}
           </if>
           <if test="memberImg == null">
               NULL
           </if>,
      #{birth},
      <if test="rank == 'coach'"> '감독' </if>
      <if test="rank == null or rank == '' or rank != 'coach'">'회원'</if>
   )
</insert>
   
   <select id="findById" parameterType="string" resultType="Member">
      SELECT member_id, name, email, passwd, birth,member_img, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate,back_number,position
      FROM member
      WHERE member_id = #{value}
   </select>
   
   <select id="findByAll" resultType="Member">
      SELECT member_id, name, birth, phone_number, email, TO_CHAR(regdate, 'yyyy-MM-DD') regdate, rank, position, back_number, goal, assist, defence, save
      FROM member
      ORDER BY regdate DESC
   </select>
   
   
   <update id="update" parameterType="Member">
      UPDATE member
      <set>
           <if test="passwd != null">passwd = #{passwd},</if>
           <if test="memberImg != null">member_img = #{memberImg}</if>
      </set>
      WHERE member_id = #{memberId}
   </update>
   
	<!-- 탈퇴 1단계 : 탈퇴테이블에 데이터 전송 -->
	<insert id="transfer" parameterType="string">
	    INSERT INTO secession (secession_id, member_id, secession_name, secession_number, secession_birth)
		SELECT secession_id_seq.NEXTVAL, m.member_id, m.name, m.phone_number, m.birth
		FROM member m
		WHERE m.member_id = #{memberId}
	</insert>
	
	<!-- 탈퇴 2단계 : 회원 테이블에서 데이터 삭제 -->
	<delete id="delete" parameterType="string">
	    DELETE FROM member
	    WHERE member_id=#{memberId}
	</delete>
   
   <select id="findByIdAndPasswd" resultType="Member">
      SELECT member_id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate, rank
      FROM member
      WHERE member_id = #{id} AND passwd = #{passwd}
   </select>
   
   
   <select id="findMemberId" resultType="Member">
   		SELECT member_id , rank
		FROM member
		WHERE name=#{name} AND email=#{email}
	</select>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
</mapper>