<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper   namespace="com.ezen.go90.domain.plan.mapper.PlanMapper">


   <select id="getAllPlans" resultType="Plan">
    SELECT plan_id, start_date, end_date, plan_title, plan_content, plan_location 
    FROM plan
   </select>
   

<insert id="addPlan" parameterType="Plan">
    INSERT INTO plan (plan_id, start_date, end_date, plan_title, plan_content, plan_location)
    VALUES (plan_id_seq.NEXTVAL, TO_DATE(#{startDate}, 'YYYY-MM-DD'), TO_DATE(#{endDate}, 'YYYY-MM-DD'), #{planTitle}, #{planContent}, #{planLocation})
</insert>

<delete id="deletePlan" parameterType="Plan">
    DELETE FROM plan WHERE plan_id = #{planId}
</delete>

<update id="updatePlan" parameterType="Plan">
    UPDATE
            plan
        SET
            start_date = #{startDate}
          , end_date = #{endDate}
          , plan_title = #{planTitle}
          , plan_content = #{planContent}
          , plan_location =  <if test="planLocation != null">
               #{planLocation}
           </if>
           <if test="planLocation == null">
               NULL
           </if>
        WHERE plan_id = #{planId}
</update>
    
   
</mapper>